@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --dark-color: #1c1c1c;
   --gray-600-color: #505050;
   --gray-500-color: #8b96a5;
   --gray-400-color: #bdc4cd;
   --gray-300-color: #dee2e6;
   --gray-200-color: #eff2f4;
   --gray-100-color: #f7fafc;
   --blue-color: #0d6efd;
   --light-sky-color: #e3f0ff;
   --matcha-color: #c3ffcb;
   --green-color: #00b517;
   --peach-color: #ffe5bf;
   --orange-color: #ff9017;
   --red-color: #fa3434;
}
